{% extends 'base.html.twig' %}

{% block title %}Pokédex - PokéFony{% endblock %}

{% block body %}

    <style>
        .type {
            display: block;
            padding: 5px;
            text-align: center;
            width: auto;
        }

        .grass {
            background-color: forestgreen;
            color: white;
        }

        .poison {
            background-color: purple;
            color: white;
        }

        .fire {
            background-color: orangered;
            color: white;
        }

        .flying {
            background-color: lightskyblue;
            color: black;
        }

        .water {
            background-color: dodgerblue;
            color: white;
        }

        .bug {
            background-color: chartreuse;
            color: black;
        }

        .normal {
            background-color: floralwhite;
            color: black;
        }

        .electric {
            background-color: yellow;
            color: black;
        }

        .ground {
            background-color: sandybrown;
            color: black;
        }

        .fairy {
            background-color: deeppink;
            color: black;
        }

        .fighting {
            background-color: darkorange;
            color: black;
        }

        .psychic {
            background-color: hotpink;
            color: white;
        }

        .rock {
            background-color: saddlebrown;
            color: white;
        }

        .steel {
            background-color: slategray;
            color: white;
        }

        .ice {
            background-color: lightcyan;
            color: black;
        }

        .ghost {
            background-color: indigo;
            color: white;
        }

        .dragon {
            background-color: darkslateblue;
            color: white;
        }

        .dark {
            background-color: black;
            color: white;
        }
    </style>

    <div class="container">
        <h1 class="m-5 text-center">Pokédex</h1>
        <div class="row">
            {% for pokemon in pokemons %}
                <div class="col-12 col-sm-4">
                    <div class="card m-2">
                        <img src="{{ pokemon.sprite }}" class="card-img-top" alt="{{ pokemon.name | capitalize }}"
                             loading="lazy">
                        <div class="card-body">
                            <h2 class="h5 card-title">#{{ pokemon.number }} - {{ pokemon.name | capitalize }}</h2>
                            <div class="row">
                                {% for type in pokemon.types %}
                                    <div class="col">
                                        <span class="type {{ type.name }}">{{ type.name | capitalize }}</span>
                                    </div>

                                {% endfor %}
                            </div>
                            <div class="accordion accordion-flush mt-4" id="accordionExample">
                                <div class="accordion-item">
                                    <h3 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapse{{ pokemon.name | capitalize }}"
                                                aria-expanded="true"
                                                aria-controls="collapse{{ pokemon.name | capitalize }}">
                                            Moves
                                        </button>
                                    </h3>
                                    <div id="collapse{{ pokemon.name | capitalize }}"
                                         class="accordion-collapse collapse"
                                         data-bs-parent="#accordion{{ pokemon.name | capitalize }}">
                                        <div class="accordion-body">
                                            <ul class="list-group list-group-flush">
                                                {% for move in pokemon.moves %}
                                                    <li class="list-group-item">{{ move.name | capitalize }}</li>
                                                {% endfor %}
                                            </ul>
                                            <button class="mt-2 btn btn-secondary w-100" type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapse{{ pokemon.name | capitalize }}"
                                                    aria-expanded="true"
                                                    aria-controls="collapse{{ pokemon.name | capitalize }}">
                                                Close moves
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
